In [4]:
import requests
import pandas as pd
import numpy as np
import json

In [6]:
token = "eyJ4NXQiOiJNR05rTnpjeE1EQXdaamN3T0dOak16Sm1aV1ZtWW1NeE9UYzFOekJqWXpBM05tTXlZell3WmpKallqTmhOamM0T0RVM04yVTVaV0l6WW1SbFkyUmtaZyIsImtpZCI6Ik1HTmtOemN4TURBd1pqY3dPR05qTXpKbVpXVm1ZbU14T1RjMU56QmpZekEzTm1NeVl6WXdaakpqWWpOaE5qYzRPRFUzTjJVNVpXSXpZbVJsWTJSa1pnX1JTMjU2IiwiYWxnIjoiUlMyNTYifQ.eyJzdWIiOiJqdW5vdHNhbmcxMDI5QGdtYWlsLmNvbSIsImF1ZCI6WyJnQXFRbF9XdTdXYnFIMFRDZTZNTWFhbm9KdVFhIiwiaHR0cHM6XC9cL29wZW5kYXRhYmFuay5oa3R2bWFsbC5jb20iXSwibmJmIjoxNjY4NTEyMTU1LCJhenAiOiJnQXFRbF9XdTdXYnFIMFRDZTZNTWFhbm9KdVFhIiwic2NvcGUiOiJvcGVuaWQiLCJpc3MiOiJodHRwczpcL1wvYWNjb3VudHMtc3NvLnNob2FsdGVyLmNvbTo0NDNcL29hdXRoMlwvdG9rZW4iLCJncm91cHMiOlsiQXBwbGljYXRpb25cL0RhdGEgQmFuayIsIkFwcGxpY2F0aW9uXC9EYXRhIEJhbmsgQVBJIiwiSW50ZXJuYWxcL2V2ZXJ5b25lIl0sImV4cCI6MTY2ODU5ODU1NSwiaWF0IjoxNjY4NTEyMTU1LCJqdGkiOiJiZGVmNTVkNC1mN2UzLTRmNmYtOTM1NC04NDMxOTE4MTlkMTcifQ.P44Dw0OObpKxOyQ8CeljM7suIvVXgSHrsst1hh3EHIaYgsYvaituvQQdiDfEtLttDnSlcL_GllKlqUYV9vaGCNgP50-pBDf1W1gX2MsjTxPrZDRBwXvzERLOoQOV_CIq9OO2ZCyuhx1hlaNz1LwTUrv74a4jdFTKYJiEpiPYqBuYlt-0s4seiRpRB0q5MKnADKQy6_L1Mm2vL0mONgzp7gTJ3Uo7fcbs9_rBGMdhAGSjfovE4e0nafSiUrvhiBjgOJ5Bx0-FEFsWFlN_Va_4QgAxIIRh3XxLH1UGgGZjG_k2GnX6LBY1auy8Z4qXJaBek9359clcKpuLBQFvXlsXYg"

In [7]:
features = ["hktv_ad_id", "order_value", "primary_category_name_en", "sub_cat_1_name_en", "sub_cat_2_name_en"]

In [8]:
csv_1 = pd.read_csv('csv/Public_Transaction_2021-11-01.csv', usecols=features)
csv_2 = pd.read_csv('csv/Public_Transaction_2021-12-01.csv', usecols=features)
csv_3 = pd.read_csv('csv/Public_Transaction_2022-01-01.csv', usecols=features)
csv_4 = pd.read_csv('csv/Public_Transaction_2022-02-01.csv', usecols=features)
csv_5 = pd.read_csv('csv/Public_Transaction_2022-03-01.csv', usecols=features)
csv_6 = pd.read_csv('csv/Public_Transaction_2022-04-01.csv', usecols=features)
csv_7 = pd.read_csv('csv/Public_Transaction_2022-05-01.csv', usecols=features)
csv_8 = pd.read_csv('csv/Public_Transaction_2022-06-01.csv', usecols=features)
csv_9 = pd.read_csv('csv/Public_Transaction_2022-07-01.csv', usecols=features)
csv_10 = pd.read_csv('csv/Public_Transaction_2022-08-01.csv', usecols=features)
csv_11 = pd.read_csv('csv/Public_Transaction_2022-09-01.csv', usecols=features)
csv_12 = pd.read_csv('csv/Public_Transaction_2022-10-01.csv', usecols=features)
csv_13 = pd.read_csv('csv/Public_Transaction_2022-11-01.csv', usecols=features)

c:\Users\pigli\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (63,65) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [9]:
df_1 = pd.concat([csv_1,csv_2,csv_3,csv_4,csv_5,csv_6,csv_7,csv_8,csv_9,csv_10,csv_11,csv_12,csv_13], ignore_index=True)

In [10]:
df_1.shape[0]

3030730

In [11]:
f = open("sampleJSON.txt", encoding='utf-8').read()
feature = ["hktv_ad_id", "gender", "age_range"]
t = f.split("\n")
t.pop()
empty = []
for i in t:
    rows = json.loads(i)
    empty.append([rows["hktv_ad_id"], rows["gender"], rows["age_range"]])
df_2 = pd.DataFrame(empty, columns=feature)

In [14]:
#Make grouped data to numerical data
# df_1['price'] = df_1['order_value']
data = []
for i in range(len(df_1['order_value'])):
    num = df_1['order_value'][i].split(' - ')
    data.append((int(num[0])+int(num[1]))/2)

df_1["price"] = data

In [17]:
#Make grouped data to numerical data
df_2['age'] = df_2['age_range']
for i in range(len(df_2['age'])):
    if df_2['age'][i] == None or df_2['age'][i] == "":
        continue
    if df_2['age'][i].split('_')[1] == '55plus':
        df_2['age'][i] = 60
    elif df_2['age'][i].split('_')[1] == "12":
        df_2['age'][i] = 10
    else:
        num = df_2['age'][i].split('_')
        df_2['age'][i] = (int(num[1])+int(num[2]))/2

df_2.loc[df_2["age"]==''] = np.nan

In [18]:
df_2.loc[df_2["age"]==''] = np.nan

In [19]:
df_2[df_2["age"].notnull()]

,hktv_ad_id,gender,age_range,age
44,gFViJcXdfjmNcSZWW7dgK+IuINSWnUIhGjWgMqPcXLY=,M,AGERANGE_55plus,60
46,zQfcjFjjXobfUgy3GJfYCHnC6qFrdUSP1s6Yzhcn89s=,M,AGERANGE_18_25,21.5
47,Qvdoy/6dOraX9o9olQQIFT3m4w7WyILVbEaZGKxO0oM=,F,AGERANGE_20_25,22.5
48,/wgIUJNAx7reaXPtc2y+PeblvtJKWT75JPpWBlZWnMg=,M,AGERANGE_26_34,30.0
49,PUuLVqLhpOAKMAHL41eUt3jKz9kREhnwpmB8SWxtSpo=,M,AGERANGE_35_44,39.5
...,...,...,...,...
299973,0Ax/0E+iuYqTOeeOAQhNEmwwN8n8LE6jfa6nAFzWNKQ=,M,AGERANGE_35_44,39.5
299977,g4izXp4yU8gl2RNma6QDoj3xGs6cl0pgU2TwWjs5pZ4=,M,AGERANGE_26_34,30.0
299986,iBsdX0KKvy6jxn2/Kpcpbl4Hc6EHylekiGWLqc+dRwA=,M,AGERANGE_35_44,39.5
299991,H+9UJ+1EWC5fG/+0xE/IDevD4v1tkq/BVsnBWKcilC8=,None,AGERANGE_55plus,60
299998,/kyi9WoC8FCnhxaqC+J2KXYWa38VGgF+NgKo/c3HUp4=,M,AGERANGE_18_25,21.5

In [20]:
#dealing with null and none data?

#gender = none
df_2["gender"].fillna(value = 'U', inplace = True)

#age -> mean according to?
df_2['age'].fillna(value = df_2['age'].mean(), inplace = True)
#price -> mean according to?
df_1['price'].fillna(value = df_1['price'].mean(), inplace = True)

In [21]:
df_1.head(10)

,hktv_ad_id,order_value,primary_category_name_en,sub_cat_1_name_en,sub_cat_2_name_en,price
0,tyjklhQcN3qhl+qHExHyytfdtX6/I+nIwjajRWX1vd0=,1600 - 1699,Supermarket,NaN,NaN,1649.5
1,BHqaOvwKh0TDEhWH9sOm0C9fUT38OnP7A9w9S579oNo=,350 - 399,Supermarket,NaN,NaN,374.5
2,/mux9tEgIFX1OveoPuwFf93Etwgu8Ukb4mGOjUMRtOM=,250 - 299,Supermarket,NaN,NaN,274.5
3,B2VKhWTS6iOPkZDf86kHYjreGZFP8gSHyUc4CVjpcfk=,350 - 399,Supermarket,NaN,NaN,374.5
4,ooDxal6LqV1TTz6Z8gR9tgLC3l/U4uCZW52ESEpFV+g=,450 - 499,Supermarket,NaN,NaN,474.5
5,jVOlkCKii6DnRM6yXbGm/USVPiTEZoc6+s4Gg+hBn/s=,650 - 699,Supermarket,NaN,NaN,674.5
6,bar4PQrXJfuLKLph2C28hqn3y8IfAgyP5gqEL0mE524=,550 - 599,Supermarket,NaN,NaN,574.5
7,YdussILjyJskRyqxNRq+gnpXBoztMtierg1kkRpF4fU=,550 - 599,Supermarket,NaN,NaN,574.5
8,FVqRfCnmT5/YqN6/Zij41pitZHz7JOYhFnG7+x29VHk=,1100 - 1199,Supermarket,NaN,NaN,1149.5
9,EfI2vtrOLLuvDLdpS5rBtsz2Ta9Qr4Qm9tcWFxOm9bU=,250 - 299,Supermarket,NaN,NaN,274.5

In [22]:
df_2.head(10)

                                     hktv_ad_id gender age_range        age
0  6zC+W35brX2E1nslA885ZLXrKwFdzJnaM2FWTLbtU9I=      U      None  35.909791
1  l7w7oInE7/Heoa4ePzmWavVpyWn+pQ+1ecTIA0EJy/Y=      U      None  35.909791
2  ViNavodQ2h6QQOxcX6vOBaYlmT0+3rWPWo3Te1cYc7w=      U      None  35.909791
3  x8Q2GWc8InVe8wD3Scq9s1N8WtR65ToDWfTNY8sI/xQ=      U      None  35.909791
4  8Don/JmHuJRpek/2zLCB3Ir4IKc57xU0nLRQOBiccno=      U      None  35.909791
5  tpfZxiYa0I1JIQ07X+8Bh0zXYaB8OGV9Uhvk5N8WhRk=      U      None  35.909791
6  1PUzr7bucBqr93eH5m/69ajhQFywiuQ2AtTSj/i6iZE=      U      None  35.909791
7  Cahpy55cDOMrmW0kbwz9MkPx5E2NAQHaa0ZseyPErrc=      U      None  35.909791
8  hxQF7O7WOgnmRvQ7+9wekMF6IWlz8ECIOUmZxXgBpUY=      U      None  35.909791
9  hGbe3CE15hb/LZTNDpINDISTw1qS37apXjfeIcRSk/8=      U      None  35.909791

In [23]:
df = pd.merge(df_1, df_2, on="hktv_ad_id")
df.drop(labels=["order_value", "age_range"], axis=1, inplace=True)

In [24]:
df.loc[df["sub_cat_1_name_en"].isnull(), "sub_cat_1_name_en"] = df.loc[df["sub_cat_1_name_en"].isnull(), "primary_category_name_en"]
df.loc[df["sub_cat_2_name_en"].isnull(), "sub_cat_2_name_en"] = df.loc[df["sub_cat_2_name_en"].isnull(), "sub_cat_1_name_en"]
df.dropna(inplace=True)

In [25]:
df.head()

,hktv_ad_id,primary_category_name_en,sub_cat_1_name_en,sub_cat_2_name_en,price,gender,age
0,v0QAE/V1JnaG/EgdxLPmeSDkmxIOsxPNMmZSjqW0n+w=,Supermarket,Supermarket,Supermarket,1249.5,U,35.909791
1,v0QAE/V1JnaG/EgdxLPmeSDkmxIOsxPNMmZSjqW0n+w=,Supermarket,Supermarket,Supermarket,1249.5,U,35.909791
2,v0QAE/V1JnaG/EgdxLPmeSDkmxIOsxPNMmZSjqW0n+w=,Supermarket,"Tissues, Disposable & Household Products",Bathroom Tissues,1249.5,U,35.909791
3,v0QAE/V1JnaG/EgdxLPmeSDkmxIOsxPNMmZSjqW0n+w=,Supermarket,"Tissues, Disposable & Household Products",Kitchen Towels,1249.5,U,35.909791
4,v0QAE/V1JnaG/EgdxLPmeSDkmxIOsxPNMmZSjqW0n+w=,Supermarket,Household Cleaners,Laundry Products,1249.5,U,35.909791

In [26]:
#Check for the missing value again
df.isna().sum()

hktv_ad_id                  0
primary_category_name_en    0
sub_cat_1_name_en           0
sub_cat_2_name_en           0
price                       0
gender                      0
age                         0
dtype: int64

In [27]:
from sklearn.preprocessing import LabelEncoder

In [28]:
l1 = LabelEncoder()
cat = ['primary_category_name_en', 'sub_cat_1_name_en', 'sub_cat_2_name_en', 'gender']
for parameter in cat:
    l1.fit(df[parameter])
    df[parameter] = l1.transform(df[parameter])

In [29]:
# Number of data after merge and concating all csv
df.shape[0]

127854

In [30]:
from sklearn.preprocessing import Normalizer

In [31]:
#numerical data
num = ['age', 'price']
norm = Normalizer()
df[num] = norm.fit_transform(df[num])
df[num]

             age     price
0       0.028727  0.999587
1       0.028727  0.999587
2       0.028727  0.999587
3       0.028727  0.999587
4       0.028727  0.999587
...          ...       ...
127852  0.132453  0.991189
127853  0.434203  0.900815
127854  0.129714  0.991551
127855  0.157947  0.987448
127856  0.157947  0.987448

[127854 rows x 2 columns]

<h1> Hello5</h1>